<section id="active_users">
  <!--<h2>User channel</h2>-->
  <ul id="active_users_list">
  </ul>
</section>

<div id="panel_container">
  <canvas id="myChart" class="metric_panel"></canvas>
</div>

<script>
  console.log('view ready');
</script>